<main>

    <section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
        <div class="container">
            <div class="row">
            </div>
        </div>
    </section>
  
  
    <section class="featured-section">
        <div class="container">
            
            <div class="row justify-content-center">

                <div class="col-lg-6 col-12 mx-auto mb-3">
                  <div class="card">
                    <h2 class="card-title">Vendas por Região</h2>
                    <div class="chart-container">
                      <canvas id="chartPieRegiao"></canvas>
                    </div>
                  </div>
                </div>
                
                <div class="col-lg-6 col-12 mx-auto mb-3">
                  <div class="card">
                    <h2 class="card-title">Vendas por Produto</h2>
                    <div class="chart-container">
                      <canvas id="chartPieProduto"></canvas>
                    </div>
                  </div>
                </div>
  
            </div>

            <div class="col-lg-12 col-12 justify-content-center">

              <div class="details-x">
                <div class="recentOrders">
                  <div class="cardHeader">
                    <h2 class="card-title-grid">Lista de Vendas</h2>
                  </div>
                  <table>
                    <thead>
                      <tr>
                        <th class="text-left" *ngFor="let items of nomes" scope="col">{{ items.nome }}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let pedido of pedidosList">
                          <td class="text-left">
                              {{ pedido.nomeCliente }}
                            </td>
                            <td class="text-left">
                                {{ pedido.nomeProduto }}
                              </td>
                            <td class="text-left">
                              {{ pedido.valorFinal | currency:'R$' }}
                            </td>
                            <td class="text-left">
                                  {{ pedido.dataEntrega | date:'dd/MM/yyyy' }}
                            </td>
                      </tr>
                    </tbody>
                  </table>
                  <div *ngIf="pedidosList.length === 0" class="card justify-content-center">
                    <div class="card-body text-center" style="margin-top: 50px;">
                      <p class="card-text">Nenhuma venda encontrada na pesquisa...</p>
                    </div>
                  </div>
                  <div class="card-footer py-3 bg-white">
                    <nav class="d-flex align-items-center justify-content-between" aria-label="...">
                      <pagination [rotate]="true" [maxSize]="5" [itemsPerPage]="pagination.totalItens" [totalItems]="pagination.totalPaginas"
                        [(ngModel)]="pagination.paginaAtual" (pageChanged)="pageChanged($event)" pageBtnClass="btn"
                        previousText="&lsaquo;" nextText="&rsaquo;" class="mr-2">
                      </pagination>
                    </nav>
                  </div>
                </div>
              </div>

              </div>

        </div>
    </section>
  </main>